NODE_ENV=development
PORT=3000

DB_TYPE=postgres
DB_HOST=localhost
DB_PORT=5432
DB_USER=notification_user
DB_PASSWORD=notification_pass
DB_NAME=notification_db

KAFKA_BROKERS=localhost:29092
KAFKA_GROUP_ID=notification-consumer-group
KAFKA_TOPIC=notifications.send
KAFKA_DLQ_TOPIC=notifications.send.dlq
KAFKA_RETRY_ATTEMPTS=3
